<div class="employee-container">
    <div class="grid">
        <div class="col-12">
            <div class="card">
                <div class="flex justify-content-between">
                    <h1 class="m-0 heading">Attendance</h1>
                    <button pButton pRipple label="Create Attendance" class="mb-3 mr-3 addBtn"
                    (click)="navigateToCreateAttendance()"></button>
                </div>
                <p-table #dt1 [value]="attendanceList" dataKey="id" [rows]="10" [loading]="loading" [paginator]="true"
                    [rowsPerPageOptions]="[5, 10, 20]" [rowHover]="true" styleClass="p-datatable-gridlines"
                    [globalFilterFields]="['attendanceStatus', 'employee.firstName', 'employee.lastName']" responsiveLayout="scroll">
                    <ng-template pTemplate="caption">
                        <div class="flex justify-content-between flex-column sm:flex-row">
                            <div class="mb-2">
                                <button pButton label="Clear" class="p-button-outlined custom-button"
                                    icon="pi pi-filter-slash" (click)="clear(dt1)"></button>
                                <p-dropdown class="ml-3" [styleClass]="'custom-dropdown'" [options]="options"
                                    [(ngModel)]="selectedStatus" (ngModelChange)="onStatusChange($event)"
                                    placeholder="Select"></p-dropdown>
                            </div>
                            <span class="p-input-icon-left mb-2">
                                <i class="pi pi-search"></i>
                                <input pInputText type="text" #filter (input)="onGlobalFilter(dt1, $event)"
                                    placeholder="Search By Name" class="w-full" />
                            </span>
                        </div>
                    </ng-template>
                    <ng-template pTemplate="header">
                        <tr>
                            <th style="min-width: 12rem">
                                <div class="flex justify-content-center align-items-center">
                                    Name
                                </div>
                            </th>
                            <th style="min-width: 12rem">
                                <div class="flex justify-content-center align-items-center">
                                    Date
                                </div>
                            </th>
                            <th style="min-width: 12rem">
                                <div class="flex justify-content-center align-items-center">
                                    Status
                                </div>
                            </th>
                            <th style="min-width: 18rem">
                                <div class="flex justify-content-center align-items-center">
                                    Actions
                                </div>
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-attendance>
                        <tr>
                            <td class="text-center">
                                {{ attendance.employee.firstName + " " + attendance.employee.lastName }}
                            </td>
                            <td class="text-center">{{ attendance.date }}</td>
                            <td class="text-center">{{ attendance.attendanceStatus }}</td>
                            <td class="text-center">
                                <button pTooltip="View" *ngIf="activeStatus" tooltipPosition="bottom" pButton pRipple
                                    type="button" icon="pi pi-eye"  routerLink="{{attendance.id}}"
                                    class="p-button-rounded p-button-secondary p-button-outlined mx-1"></button>
                                <button pTooltip="Edit" *ngIf="activeStatus" tooltipPosition="bottom" pButton pRipple
                                    type="button" icon="pi pi-file-edit" class="p-button-rounded p-button-outlined mx-1"
                                    (click)="onEditAttendance(attendance.id)"></button>
                                <button pTooltip="Deactivate" *ngIf="activeStatus" tooltipPosition="bottom" pButton
                                    pRipple type="button" icon="pi pi-times" (click)="onDeleteAttendance(attendance.id)"
                                    class="p-button-rounded p-button-danger p-button-outlined mx-1"></button>
                                <button pTooltip="Activate" tooltipPosition="bottom" *ngIf="!activeStatus" pButton
                                    pRipple type="button" icon="pi pi-check"
                                    class="p-button-rounded p-button-success p-button-outlined mx-2"
                                    (click)="onActiveAttendance(attendance.id)"></button>
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="loadingbody">
                        <tr>
                            <td style="text-align: start !important" colspan="8">
                                Loading accounts data. Please wait.
                            </td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>

        <p-dialog [(visible)]="deleteAttendanceDialog" header="Confirm" [modal]="true" [style]="{ width: '450px' }">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span>Are you sure you want to deactivate selected Attendance?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No"
                    (click)="deleteAttendanceDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Yes"
                    (click)="confirmDeleteSelected()"></button>
            </ng-template>
        </p-dialog>
    </div>

    <p-toast [breakpoints]="{ '920px': { width: '100%', right: '0', left: '0' } }"></p-toast>
</div>