<div class="m-5 form-container">
    <h1 class="mb-5 heading">
        {{ mode == "Add" ? "Add User" : "Update User" }}
    </h1>
    <form action="" [formGroup]="userForm" (ngSubmit)="onSubmit()">
        <div class="p-fluid p-formgrid grid">
            <div class="field col-12 md:col-6">
                <label htmlFor="name"><strong>Name</strong></label>
                <input pInputTextarea id="name" rows="4" formControlName="name" placeholder="Enter Name"
                    [ngClass]="{'ng-dirty':userForm.get('name')?.touched && userForm.get('name')?.invalid}" />
                <small *ngIf="!userForm.get('name')?.valid && userForm.get('name')?.touched" class="text-red-500">
                    Required
                </small>
            </div>
            <div class="field col-12 md:col-6">
                <label htmlFor="email"><strong>Email</strong></label>
                <input pInputTextarea id="email" type="email" rows="4" formControlName="email" placeholder="Enter Email"
                    [ngClass]="{'ng-dirty':userForm.get('email')?.touched && userForm.get('email')?.invalid}" />
                <small *ngIf="!userForm.get('email')?.valid && userForm.get('email')?.touched" class="text-red-500">
                    Required
                </small>
            </div>
            <div class="field col-12 md:col-6">
                <label htmlFor="password"><strong>Password</strong></label>
                <input pInputTextarea id="password" type="password" rows="4" formControlName="password" placeholder="Enter Password"
                    [ngClass]="{'ng-dirty':userForm.get('password')?.touched && userForm.get('password')?.invalid}" />
                <small *ngIf="!userForm.get('password')?.valid && userForm.get('password')?.touched" class="text-red-500">
                    Required
                </small>
            </div>
            <div class="field col-12 md:col-6">
                <label><strong>Role</strong></label>
                <p-dropdown [options]="roles" optionLabel="name" formControlName="roles" placeholder="Select Role"
                    [ngClass]="{'ng-dirty':userForm.get('roles')?.touched && userForm.get('roles')?.invalid}"
                    ></p-dropdown>
                <small *ngIf="!userForm.get('roles')?.valid && userForm.get('roles')?.touched"
                    class="text-red-500">
                    Required
                </small>
            </div>
            <div class="flex justify-content-end w-full">
                <button pButton label="Cancel" type="button" class="mx-3 editBtn" style="background-color: rgb(138, 136, 136); border: 1px solid rgb(138, 136, 136);"
                    *ngIf="mode == 'Update'" (click)="onCancel()"></button>
                <button pButton label="Submit" type="Submit"  class="mx-3 submit-btn" style="width: 150px;"></button>
            </div>
        </div>
    </form>
</div>
<p-toast [breakpoints]="{'920px': {width: '100%', right: '0', left: '0'}}"></p-toast>