<div class="home-container">
  <div class="grid flex justify-content-center">
    <div class="col-sm-12 col-md-4">
      <div class="container">
        <app-card title="Employees" content="{{employeeCount}}" iconClass="pi pi-users"></app-card>
      </div>
    </div>
    <div class="col-sm-12 col-md-4">
      <div class="container">
        <app-card title="Departments" content="{{departmentCount}}" iconClass="pi pi-folder"></app-card>
      </div>
    </div>
    <div class="col-sm-12 col-md-4">
      <div class="container">
        <app-card title="Users" content="{{userCount}}" iconClass="pi pi-user"></app-card>
      </div>
    </div>
    <div class="card ml-8 mb-5 pb-3 col-5 col-sm-12 mx-auto flex justify-content-center">
        <div class="card-body">
          <h2 class="text-center">Total Number of Employees</h2>
            <p-chart type="doughnut" [data]="totalEmployeeByStatusChartData" [options]="options"></p-chart>
        </div>
    </div>
    <div class="card  mb-5 pb-3 col-5 col-sm-12 mx-auto flex justify-content-center">
        <div class="card-body ">
            <h2 class="text-center">Employee Count by Job Title</h2>
            <p-chart  type="doughnut"  [data]="totalEmployeeByJobTitleChartData" [options]="options"></p-chart>
        </div>
    </div>
  </div>  
</div> 


